@{
    ViewBag.Title = "About";
}


<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 align="center"> About Geothermal Energy </h1><hr /><hr />
            <br />
            <img src="~/images/Dry-Steam.gif" class="img img-responsive" />
            <h2> Where does Geothermal Energy Come From ?</h2>
            <p>
                Geothermal vitality is the warmth that originates from the sub-surface of the earth. It is contained in the stones and liquids underneath the world's hull and can be found as far down to the world's hot liquid stone, magma. <br />
                To deliver power from geothermal vitality, wells are dove a mile deep into underground repositories to get to the steam and high temp water there, which would then be able to be utilized to drive turbines associated with power generators. There are three sorts of geothermal force plants; dry steam, blaze and parallel. <br />

                Dry steam is the most seasoned type of geothermal innovation and removes steam starting from the earliest stage utilizes it to legitimately drive a turbine. Streak plants utilize high-pressure heated water into cool, low-pressure water while parallel plants go heated water through an optional fluid with a lower breaking point, which goes to fume to drive the turbine.
            </p>
            <h2> Where It is used ?</h2>
            <p> Geothermal vitality is utilized in more than 20 nations. The United States is the biggest maker of geothermal vitality on the planet, and hosts the biggest geothermal field.</p>
        </div>
    </div>
</div>
<br />
<br />
<br />
