
@{
    ViewBag.Title = "History";
}



<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 align="center"> History Of Geothermal Energy </h1>
            <hr />
            <p>
                Using geothermal vitality to create power is a significantly new industry, which showed in 1904 in Italy. Italians previously fueled a turbine generator utilizing common steam emitting from underneath the earth. The year 1960 proclaimed the main effective activity of the enormous scope geothermal power age plant at the Geysers, North California. A great deal of American geothermal force plants are spread across California, while the rest are situated in Hawaii, Nevada, Utah, Idaho and Montana. <br />

                The transformation of geothermal vitality into power happens through a geothermal force plant. The force plant tackles the steam from the heated water underneath the world's surface to turn turbines, which later enacts a generator to deliver power. Some geothermal force plants use steam to legitimately turn the turbine. Others use the steam to warm a fluid that is utilized to turn the turbine.
            </p>
        </div>
        <div class="col-md-6">
            <h1 align="center"> Advantages </h1> <hr />
            <ol>
                <li>This energy utilize for heating and cooling purpose or to generate clean energy. </li>
                <li> It is not depending on weather conditions and has very high capacity factors; for these reasons, geothermal power plants are capable of supplying baseload electricity.</li>
                <li> In addition to it, if we use this energy so, there will be no pollution which is quite more effective for environment.</li>

                <li> As well as, this method is cheaper than another types of energies. </li>
            </ol>
        </div>
        <div class="col-md-6">
            <h1 align="center"> Disadvantages </h1> <hr />
            <ol>
                <li> 1.	For electricity, generation high or medium temperature resources are needed, which are usually located close to tectonically active regions.</li>
                <li> Another drawback is surface instability (Earthquakes) .</li>
            </ol>

        </div>
        <div class="col-md-12">
            <h1> Video to Understand</h1>
            <iframe width="666" height="375" src="https://www.youtube.com/embed/NBHHqw6TRXk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

</div>
<br />
<br />
<br />

