@{
    ViewBag.Title = "Home Page";
}


<section class="wedo py-5" id="services">
    <div class="container py-lg-5">
        <div class="w3l_head1">
            <h4 class="heading text-center">
                Renewable Energy </h3>
                <p class="subs1 mt-4 text-center mx-auto"> There are different kind of Reusable Energy  resources are available in the world </p>
        </div>
        <div class="row about-info-grids text-center py-lg-5 py-3 mt-3">
            <div class="col-md-4 about-info about-info1">
                <span class="fa fa-tint"></span>
                <h4>Air</h4>

            </div>
            <div class="col-md-4 about-info about-info2">
                <span class="fa fa-leaf"></span>
                <h4>Water</h4>

            </div>
            <div class="col-md-4 about-info about-info3">
                <span class="fa fa-pagelines"></span>
                <h4>Heat</h4>
            </div>
        </div>
    </div>
</section>
<!-- //what we do -->
<!-- news -->
<section class="news py-5" id="about">
    <div class="container py-lg-5">
        <div class="w3l_head">
            <h3 class="heading text-center">About Geothermal Power Plants </h3>
            <p class="subs mt-4 text-center mx-auto">There are three types of geothermal Power plants </p>
        </div>
        <div class="row news-grids py-lg-5 py-3 mt-3 text-center">
            <div class="col-md-4 newsgrid1">
                <img src="~/images/g1.png" alt="news image" class="img-fluid">
                <div class="news_btm mt-4">
                    <h6>Dry Steam Power Plant</h6>
                    <p>As from the Name suggest , It suggest to utilize the "Dry Steam "  to generate the Power Supply.</p>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-5 newsgrid2">
                <img src="~/images/g2.png" alt="news image" class="img-fluid">
                <div class="news_btm mt-4">
                    <h6> Flash Steam Power Plant</h6>
                    <p> This type of thermal plant utilize the water to generate the Energy </p>
                </div>
            </div>
            <div class="col-md-4  mt-md-0 mt-5 newsgrid3">
                <img src="~/images/g3.png" alt="news image" class="img-fluid">
                <div class="news_btm mt-4">
                    <h6>Binary Cycle Power Plant</h6>
                    <p>  As Compare to the above of the thermal plants it required more cooler water to generate.  </p>
                </div>
            </div>
        </div>
    </div>
</section>

