
@{
    ViewBag.Title = "WrongLogin";
}


<div class="row">
    <div class="col-md-6">
        <img src="~/images/wrn.jpg" class="img-thumbnail"/>

    </div>

    <div class="col-md-6">
        <h1>Invalid User Name  or Password. Think to rember Correct Name or Password </h1>

        <hr/>
        <a href="@Url.Action("Admin_Login","Admin")" style="font-size:1.5em;"> Try Again </a>
    </div>


</div>
